/* CSS Document */
.multiple_ajax_calendar_widget{ overflow:visible !important;}
.wp-calendar, .wp-calendar {
	width: 100%;
	padding: 0 0;
	background:#999;
}
.widget_calendar #calendar_wrap {
	margin:0;
	padding:0;
}
.wp-calendar caption, .wp-calendar caption {
	padding: 0px 5px;
	font-size:14px;
	color:#fff;
	background:#999;
}
.wp-calendar th, .wp-calendar td {
padding: 5px;
text-align:center;
background:#999;
color:#FFF;
}
.wp-calendar td a, .wp-calendar td a:link {
	background:#fff;
	
}
.wp-calendar td, .wp-calendar td { background:transparent; }
.wp-calendar td, table.wp-calendar th, .wp-calendar td, table.wp-calendar th { padding: 2px 0; }
.wp-calendar tfoot td, .wp-calendar tfoot td { padding: 0; }
.wp-calendar .day-events{display:none;
line-height:1.6;
text-align:left;
color:#000;
text-shadow: 1px 1px 1px #cccccc;
filter: dropshadow(color=#cccccc, offx=1, offy=1);
width:200px;
	position: absolute;
	z-index:9999;
	margin:0px 0px 0px -85px;
	padding:5px;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
        
        box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.1);
	border: 2px solid #000000;
	-webkit-border-radius: 5px;
border-radius: 5px;
}
.day-events:after, .day-events:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.day-events:after {
	border-color: rgba(237, 237, 237, 0);
	border-bottom-color: #ededed;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}
.day-events:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.wp-calendar .day-events a,.wp-calendar .day-events a:link,.wp-calendar .day-events a:visited{
color:#000 ;
text-shadow: 1px 1px 1px #cccccc;
filter: dropshadow(color=#cccccc, offx=1, offy=1);
display:inline-block;
}
.wp-calendar .day-events a:hover{
color: #999 ;
text-shadow: 1px 1px 1px #cccccc;
filter: dropshadow(color=#cccccc, offx=1, offy=1);
}
.wp-calendar .day-events img.attachment-thumbnail{float: left;
margin:0px 5px;
vertical-align: middle;}
.wp-clear{ clear:both;}